<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #autorForm="ngForm">
        
        <div class="form-group">
        <label for="Dni">Dni</label>
        <input type="text" [(ngModel)]="autor.dni" 
          class="form-control" 
          id="Dni" 
          name="Dni" 
          placeholder="Enter your dni"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">dni is required</div>
      
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="autor.nombre" 
          class="form-control" 
          id="nombre" 
          name="nombre" 
          placeholder="Enter your nombre"
          required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Nombre is required</div>

      <div class="form-group">
        <label for="apellido1">Apellido1</label>
        <input type="text" [(ngModel)]="autor.apellido1" 
          class="form-control" 
          id="apellido1" 
          name="apellido1" 
          placeholder="Enter your apellido1"
          required #apellido1="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Nombre is required</div>
      
      <div class="form-group">
        <label for="apellido2">Apellido2</label>
        <input type="text" [(ngModel)]="autor.apellido2" 
          class="form-control" 
          id="apellido2" 
          name="apellido2" 
          placeholder="Enter your apellido2"
        >
      </div>

      <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" [(ngModel)]="autor.telefono" 
          class="form-control" 
          id="telefono" 
          name="telefono" 
          placeholder="Enter your telefono"
        >
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="autor.email" 
          class="form-control" 
          id="email" 
          name="email" 
          placeholder="Enter your email address"
        >
      </div>
      <button type="submit" [disabled]="!autorForm.form.valid" 
        class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
